<link rel="stylesheet" href="css/DisplaySpinner.css" />

<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>